// Colors
// $main-dark: rgb(22, 22, 24);
// $main-light: rgb(64, 62, 65);
// $font-color: rgb(226, 26, 26);

$main-dark: rgba(43, 45, 66, 1);
$input-dark: rgb(67, 69, 92);
$main-light: rgb(63, 65, 83);
$movie-card: transparent;
$accent-color: rgb(212, 177, 86);
$font-color: white;

// 